*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: grid;
    font-size: 18px;
}

/*variáveis*/
:root{
    --altura_header: 65px;
    --altura_footer: 40px;
    --main_color: #B9235E;
    --main-hover-color: #ffaece;
}

/*cabelçalho*/
.header{
    background-color: var(--main_color);
    height: var(--altura_header);
    display: flex;

}

/*menu cabeçalho*/
.menu_1{
    display: flex;
    list-style: none;
    text-align: center;
    position: relative;
}

/*elemento*/
.menu_1 li{
    padding: 21px 0px;
}

/*link*/
.menu_1 a{
    height: 100px;
    padding: 24px;
    text-decoration: none;
    color: beige;
}

.menu_1 a:hover{
    background-color: var(--main-hover-color);
    color: var(--main_color);
}

/*principal----------------------------------*/
.corpo{
    min-height: calc(100vh - var(--altura_header) - var(--altura_footer));
    margin-left: 20%;
    margin-right: 20%;
}

/*página*/
.meio{
    text-align: justify;
}

/* DIV DAS IMAGENS */
.div_imagem{
    text-align: center;
}



/*rodapé-------------------------------------*/
footer{
    height: var(--altura_footer);
    background-color: var(--main_color);
    text-align: center;
    color: beige
}
