@import url(style.css);
@import url(header.css);
@import url(estrutura.css);
@import url(footer.css);

/*imagem inicial*/

.imagem_inicial{
    height: auto;
    max-width: 800px;
}

h3{
    text-align: center;
}

.div_alunos{
    text-align: center;
}


.imagem_alunos{
    width: 200px;
    padding: 20px;
    border-radius: 20%;
}